<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jaihoe Tutorial</title>
	<script type="application/javascript" src="../../../assets/js/jaihoe.js"></script>
	
</head>

<body>

  <jh-dep>
	<j-imp name="jaihoe_fun" src="../../../assets/js/libraries"></j-imp>
  </jh-dep>
	
  <div align="center">
	<h1 id="samplex">Social Experiment</h1>
	<p>(Can you follow me? I will follow you back.)</p>
  </div>
  
  <div align="center" style="margin-bottom: 30px;">
	<button style="font-size:18px;padding:10px;" id="followYouBack">Follow</button>
	<button style="font-size:18px;padding:10px;display:none;" class="followerAx">Follower</button>
  </div>
  
  <jh-script>
	  <!-- Making a Follow Button -->
	  <j-fun>
		<j-attr name="for" value="fun behavior" data-attr></j-attr>
		<j-attr name="target" value="#followYouBack" data-attr></j-attr>
		<j-attr name="method" value="that attract" data-attr></j-attr>
		<j-attr name="attract" value="#followerAx" data-attr></j-attr>
	  </j-fun>
  </jh-script>

</body> 

</html>