<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jaihoe Tutorial</title>
	<script type="application/javascript" src="../../../assets/js/jaihoe.js"></script>
	<style type="text/css">
	  body {
		background: #000;
		margin: 0;
	  }
	  canvas {
		cursor: crosshair;
		display: block;
	  }
	</style>
</head>

<body>

  <j-dep>
	  <j-imp name="jaihoe_fun" src="../../../assets/js/libraries"></j-imp>
	</j-dep>
	
	<canvas id="canvas">Canvas is not supported in your browser.</canvas>
  
    <jh-script>
	  <!-- Making Fireworks -->
		<j-fun>
		  <j-attr name="for" value="fun fireworks" data-attr></j-attr>
		  <j-attr name="target" value="#canvas" data-attr-close></j-attr>
		</j-fun>
    </jh-script>
  
  
  
  
  
  
  

</body> 

</html>